:local .base {
  content: '';
  display: block;
}

:local .banner {
  display: inline-block;
  background-color: #dda224;
  box-shadow: 3px 3px 6px black;
  padding: 1em;
  margin: 1em;
  min-width: 350px;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
}

:local .left {
  margin-left: -99999px;
  padding-left: 99999px;
  transform-origin: right;
}

:local .right {
  margin-right: -99999px;
  padding-right: 99999px;
  transform-origin: left;
}

:local(.banner):hover,
:local(.banner):focus,
:local(.banner):active {
  animation-name: pop;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes pop {
  50% {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px black;
  }
}
