:local .base {
  content: '';
  display: block;
}

:local .banner {
  display: inline-block;
  background-color: #dda224;
  box-shadow: 5px 5px 10px black;
  padding: 0.4em;
  margin: 1em;
  min-width: 350px;
}

:local .left {
  margin-left: -99999px;
  padding-left: 99999px;
}

:local .right {
  margin-right: -99999px;
  padding-right: 99999px;
}
