:local(.base) {
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin: 40px auto;
  animation: sk-rotatePlane 2s infinite ease-in-out;
}

@keyframes sk-rotatePlane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
  75% {
    transform: perspective(120px) rotateX(0.1deg) rotateY(-180deg);
  }
  100% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
}
