* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  min-width: 320px;
  font-family: sans-serif;
}

#root {
  overflow-x: hidden;
  text-align: center;
  padding: 10px;
  /*https://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%2845deg\%2C\%20rgba\%2835\%2C9\%2C34\%2C1\%29\%200\%25\%2C\%20rgba\%2829\%2C28\%2C50\%2C1\%29\%2059\%25\%2C\%20rgba\%28112\%2C3\%2C6\%2C1\%29\%2064\%25\%2C\%20rgba\%28125\%2C1\%2C1\%2C1\%29\%20100\%25\%29\%3B'*/
  background: rgba(35, 9, 34, 1);
  background: linear-gradient(
    85deg,
    rgba(35, 9, 34, 1) 0%,
    rgba(29, 28, 50, 1) 59.5%,
    rgba(112, 3, 6, 1) 60%,
    rgba(125, 1, 1, 1) 100%
  );
}
